include ./mixins.pug

- 
  var navs = ["Галерея", "Прайс", "Контакты", "Все блоки"] 
- 
  var items = [
    {
      path: "clock",
      desc: "Пн – Пт: 08:00-23:00 <br> Сб – Вс: 10:00-18:30"
    },
    {
      path: "map",
      desc: "Новый Арбат, дом 22 <br> Москва, Россия"
    },
    {
      path: "phone",
      desc: "Skype: Gemmo <br> Whatsapp: +7-925-890-8900"
    },
  ]

- 
  var advantages = [
    {
      path:"gears",
      head:"КАЧЕСТВЕННЫЕ ЗАПЧАСТИ",
      desc:"Все запчасти и детали, имеющиеся у нас в наличии, были приобретены у самых надежных дилеров и производителей."
    },
    {
      path:"chats",
      head:"Крутая КОМАНДА ",
      desc:"Когда речь заходит о ремонте или проверке механики вашего автомобиля, вся наша команда имеет почти 10-летний практический опыт."
    },
    {
      path:"work",
      head:"ОБСЛУЖИВАНИЕ",
      desc:"Мы ценим предоставляемые нами услуги, и наши постоянные клиенты всегда могут рассчитывать на нашу компетентность."
    },
    {
      path:"certificate",
      head:"ДОСТУПНЫй прайс",
      desc:"Мы стремимся сделать наши услуги по доступным ценам максимально возможными. Вот почему мы сокращаем все несущественные деловые расходы ..."
    },
  ]

- 
  var services = [
    {
      path:"content/services.png",
      head:"ОБСЛУЖИВАНИЕ"
    },
    {
      path:"content/tires-services.png",
      head:"ШИННЫЕ УСЛУГИ"
    },
    {
      path:"content/engine-repair.png",
      head:"РЕМОНТ ДВИГАТЕЛЯ"
    },
    {
      path:"content/car-braker.png",
      head:"ТОРМОЗНЫЕ УСЛУГИ"
    },
  ]







<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Сервисный центр по ремонту автомобилей
  body
    .wrapper
      .maincontent
        .fullscreen-section.wellcome-section
          .wellcome-container
            .container.wellcome-container__row
              header.header
                .logo
                  +icon("logo", "logo-main")
                ul.wellcome-container__list
                  for nav in navs 
                    li.wellcome-container__item
                      a(href="http://").wellcome-container__item-link #{nav}
              .wellcome-container__row__desk
                h1.wellcome-container__row__desk-headline Сервисный центр
                  br
                  span по ремонту автомобилей
                span.wellcome-container__row__desk-text Наш сервис занимается высококачественным детейлингом - оказывает весь спектр услуг в этом направлении. Закажите у нас консультацию?
                button(type="button").wellcome-container__row__desk-btn.btn Заказать
          .container
            ul.contacts-list
              for item in items
                li.contacts-list__item
                  .contacts-list__item-pic
                    +icon(`${item.path}`,"contacts-svg-pic")
                  .contacts-list__item-desc !{item.desc}
        .container.advantages-container
          h2.advantages-container-headline ПРЕИМУЩЕСТВА ОБСЛУЖИВАНИЯ
          .container
            ul.advantages-container__list
              for advantage in advantages
                li.advantages-container__item
                  .advantages-container__item-pic
                    +icon(`${advantage.path}`,"advantages-svg-pic")
                  .advantages-container__item-headline #{advantage.head}
                  p.advantages-container__item-desc #{advantage.desc}
        .fullscreen-section.discount-section  
          h1.discount-section-headline Получите скидку 5% на любой сервис сегодня!
          span.wellcome-container__row__desk-text Новичок? Добро пожаловать в наш автосервис! Мы очень сожалеем, что вы должны починить свой автомобиль, поэтому мы хотим поощрить вас с вашей эксклюзивной скидкой.
          button(type="button").wellcome-container__row__desk-btn.btn Заказать
        .container.services-container
          h2.services-container-headline НАШИ УСЛУГИ
          .container
            ul.services-container__list
              for service in services 
                li.services-container__item
                  .services-container__item__wrapper
                    +image(`${service.path}`,'services-image')
                    .services-container__item__wrapper-text
                      span #{service.head}



